/*
 js style
 */
/*
/*
js-about__slider
*/
.js-about__slider{
	@include media-breakpoint-up(lg){
		width: 480px;
	}
	@include media-breakpoint-down(md){
		margin-right: 10px;
		width: 320px;
	}
	@include media-breakpoint-down(xs){
		margin: 35px 0 40px;
		width: 100%;
	}
	.slick-dots{
		position: relative;
		bottom: 0;
		li{
			button{
				padding: 0;
				width: 15px;
				height: 15px;
				@include media-breakpoint-down(xs){
					width: 13px;
					height: 13px;
				}
				&:before{
					content: '';
					background: #EBEBEB;
					border-radius: 50%;
					width: 15px;
					height: 15px;
					opacity: 1;
					@include media-breakpoint-down(md){
						font-size: $fs-md;
					}
					@include media-breakpoint-down(xs){
						width: 13px;
						height: 13px;
					}
				}
			}
			&:nth-child(2){
				@include media-breakpoint-up(md){
					margin: 0 18px!important;
				}
				@include media-breakpoint-down(xs){
					margin: 0 13px!important;
				}
			}
		}
		.slick-active{
			button{
				&:before{
					background: #000;
				}
			}
		}
	}
}

/*
ハンバーガーメニュー
 */
 .js-offcanvas-btn {
 	margin: 0;
 	border: none;
 	background: none;
 	position: absolute;
 	padding: 0;
 	z-index: 9999;
 	@include media-breakpoint-down(md){
 		left: 32px;
 		top: 50px;
 		width: 50px;
 		height: 50px;
 		background: #FFF;
 		opacity: 0.6;
 		padding: 10px;
 	}
 	@include media-breakpoint-down(xs){
 		left: 12px;
 		top: 24px;
 		width: 41px;
 		height: 41px;
 	}
 	.hiraku-open-btn-line{
 		width: 100%;
 		height: 2px;
 		background: #000;
 		&:before{
 			height: 2px;
 			width: 100%;
 			background: #000;
 			@include media-breakpoint-down(md){
 				top: -9px;
 			}
 			@include media-breakpoint-down(xs){
 				top: -7px;
 			}
 		}
 		&:after{
 			height: 2px;
 			width: 100%;
 			background: #000;
 			@include media-breakpoint-down(md){
 				bottom: -9px;
 			}
 			@include media-breakpoint-down(xs){
 				bottom: -7px;
 			}
 		}
 	}
 }

.page-template{
 	.js-offcanvas-btn {
 		@include media-breakpoint-down(md){
 			left: 32px;
 			top: 10px;
 		}
 		@include media-breakpoint-down(xs){
 			top: 15px;
 			left: 12px;
 		}
 	}
 }

 [aria-expanded="true"] .hiraku-open-btn-line:before {
 	@include media-breakpoint-down(md){
 		transform: translate(-2px, 12px) rotate(45deg);
 	}
 	@include media-breakpoint-down(xs){
 		transform: translate(-2px, 8px) rotate(45deg);
 	}
 }

 .js-hiraku-offcanvas-btn-active{
 	@include media-breakpoint-down(xs){
 		left: 130px!important;
 	}
 	.hiraku-open-btn-line{
 		background: #FFF;
 	}
 	.hiraku-open-btn-line:before,
 	.hiraku-open-btn-line:after{
 		background-color: #FFF;
 		width: 100%;
 		background: #000;
 		left: 2px;
 	}
 }

 .js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar {
 	background: #000;
 	@include link_color(black) {
 		text-decoration: none;
 		display: block;
 		@include media-breakpoint-down(md){
 			width: 40%;
 		}
 		@include media-breakpoint-down(xs){
 			width: 70%;
 		}
 	}
 	ul {
 		margin: 0;
 		padding: 2rem;
 		li {
 			margin: 0;
 		}
 	}
 }

 .js-hiraku-offcanvas-body-left {
 	@include media-breakpoint-down(md){
 		left: 40%;
 	}
 }

 .js-hiraku-offcanvas-active .js-hiraku-offcanvas-sidebar-left {
 	@include media-breakpoint-down(md){
 		margin-right: -40%;
 	}
 }

 .js-hiraku-offcanvas-body-left .js-hiraku-header-fixed {
 	@include media-breakpoint-down(md){
 		margin-left: -40%;
 	}
 }

