/*
p-contact
 */
 .p-contact{
 	@include media-breakpoint-up(lg){
 		margin-top: 160px;
 	}
 	&__title{
 		@include media-breakpoint-up(lg){
 			display: none;
 		}
 		@include media-breakpoint-down(md){
 			display: block;
 			background: #000;
 			text-align: center;
 			padding: 14px 0;
 		}
 		@include media-breakpoint-down(xs){
 			padding: 20px 0;
 		}
 		img{
 			@include media-breakpoint-down(md){
 				height: 45px;
 			}
 			@include media-breakpoint-down(xs){
 				height: 30px;
 			}
 		}
 	}
 	&__hero{
 		position: relative;
 		background-repeat: no-repeat;
 		background-size: contain;
 		display: block;
 		@include media-breakpoint-up(lg){
 			@include width-center(lg);
 			background-image: url('./assets/img/contact/contact-hero@2x.png');
 			height: 240px;
 		}
 		@media (min-width: $base-width) {
 			width: 100%!important;
 			background-size: cover;
 		}
 		@include media-breakpoint-down(md){
 			background-image: url('./assets/img/contact/sp-contact-hero@2x.png');
 			height: 240px;
 		}
 		@include media-breakpoint-down(xs){
 			height: 100px;
 			background-size: cover;
 		}
 	}
 	&__form{
 		position: relative;
 		@include media-breakpoint-up(lg){
 			@include width-center(lg);
 			padding: 0 230px;
 		}
 		@media (min-width: $base-width) {
 			width: 906px!important;
 			padding: 0;
 		}
 		h1{
 			margin: 0;
 			@include ff-gmintyo-h;
 			text-align: center;
 			color: #000;
 			@include media-breakpoint-up(md){
 				font-size: $fs-xxl;
 				margin-top: 47px;
 				margin-bottom: 60px;
 			}
 			@include media-breakpoint-down(md){
 				margin-top: 28px;
 			}
 			@include media-breakpoint-down(xs){
 				font-size: 22px;
 			}
 		}
 		> p{
 			@include ff-gmintyo-sb;
 			font-size: $fs-base;
 			text-align: center;
 			@include media-breakpoint-up(lg){
 				margin: 0 auto 15px!important;
 				padding: 0 230px;
 			}
 			@media (min-width: $base-width) {
 				width: 906px!important;
 				padding: 0;
 			}
 			@include media-breakpoint-down(md){
 				margin: 36px 0 0;
 			}
 			@include media-breakpoint-down(xs){
 				margin: 20px 0 0;
 				font-size: 12px;
 			}
 		}
 		&-tel{
 			font-size: 34px!important;
 			@include media-breakpoint-up(lg){
 				margin: 0 auto 50px!important;
 			}
 			@include media-breakpoint-down(md){
 				margin-bottom: 120px!important;
 			}
 			@include media-breakpoint-down(xs){
 				margin-bottom: 50px!important;
 			}
 			span{
 				font-size: $fs-base;
 				margin-right: 8px;
 			}
 		}
 		.wpcf7{
 			@include media-breakpoint-up(lg){
 				margin-top: 54px;
 				margin-bottom: 150px;
 			}
 			@include media-breakpoint-down(md){
 				padding: 0 34px;
 				margin-bottom: 150px;
 			}
 			@include media-breakpoint-down(xs){
 				padding: 0 12px;
 				margin-bottom: 0;
 			}
 			p{
 				@extend .d-md-flex;
 				margin: 0 auto;
 				@include media-breakpoint-up(md){
 					margin-bottom: 45px;
 				}
 				@include media-breakpoint-down(xs){
 					margin-bottom: 20px;
 				}
 				label{
 					margin: 3px 0 0;
 					@include media-breakpoint-up(lg){
 						@include ff-gmintyo-sb;
 						font-size: $fs-md;
 						width: 230px;
 					}
 					@include media-breakpoint-down(md){
 						@include ff-gmintyo-m;
 						font-size: $fs-base;
 						width: 240px;
 					}
 					@include media-breakpoint-down(xs){
 						width: auto;
 						margin-bottom: 12px;
 					}
 					span{
 						@include ff-gmintyo-m;
 						display: inline-block;
 						color: #D00707;
 						border: 1px solid #D00707;
 						width: 57px;
 						text-align: center;
 						margin-left: 12px;
 						@include media-breakpoint-up(lg){
 							font-size: $fs-base;
 						}
 						@include media-breakpoint-down(md){
 							font-size: 12px;
 						}
 					}
 				}
 				span{
 					width: 100%;
 				}
 				input{
 					@include ff-gmintyo-sb;
 					font-size: $fs-md;
 					width: 100%;
 					border-radius: 0;
 					padding: 5px;
 					height: 30px;
 					&:focus{
 						outline: 0;
 						border-color: #000;
 					}
 				}
 				textarea{
 					@include ff-gmintyo-sb;
 					font-size: $fs-md;
 					height: 310px;
 					&:focus{
 						outline: 0;
 						border-color: #000;
 					}
 				}
 				.wpcf7-submit{
 					@include ff-gmintyo-sb;
 					background: #207DFC;
 					text-align: center;
 					border: none;
 					@include media-breakpoint-up(md){
 						font-size: $fs-md;
 						position: absolute;
 						width: 355px;
 						height: 70px;
 						color: #FFF;
 						text-align: center;
 						display: inline;
 						transform: translate(-50%, -50%);
 						left: 50%;
 						margin-top: 50px;
 					}
 					@include media-breakpoint-down(xs){
 						font-size: $fs-md;
 						height: 70px;
 						color: #FFF;
 						margin-top: 10px;
 					}
 				}
 			}
 			.wpcf7-not-valid-tip{
 				@include ff-gmintyo-m;
 				margin-top: 3px;
 				color: #D00707;
 				@include media-breakpoint-up(lg){
 					font-size: $fs-base;
 				}
 				@include media-breakpoint-down(md){
 					font-size: 12px;
 				}
 				&:before{
 					content: '※';
 				}
 			}
 			.wpcf7-mail-sent-ng{
 				@include media-breakpoint-up(md){
 					position: absolute;
 					margin-top: 70px;
 					display: inline;
 					transform: translate(-50%, -50%);
 					left: 50%;
 					width: 70%
 				}
 				@include media-breakpoint-down(xs){
 					margin: 0 0 30px;
 				}
 			}
 			.wpcf7-validation-errors{
 				display: none!important;
 				@include media-breakpoint-up(md){
 					position: absolute;
 					margin-top: 70px;
 					display: inline;
 					transform: translate(-50%, -50%);
 					left: 50%;
 					width: 70%
 				}
 				@include media-breakpoint-down(xs){
 					margin: 0 0 30px;
 				}
 			}
 		}
 	}
 }
