/*
l-footer
 */
 .l-footer{
 	background: #000;
 	position: relative;
 	@include media-breakpoint-up(lg){
 		@include width-center(lg);
 	}
 	@media (min-width: 1366px) {
 		width: 100%!important;
 	}
 	&__link{
 		@extend .d-md-flex;
 		@extend .justify-content-md-center;
 		padding: 40px 0;
 		@include ff-gmintyo-sb;
 		@include media-breakpoint-up(md){
 			font-size: $fs-lg;
 		}
 		@include media-breakpoint-down(xs){
 			padding: 16px 12px;
 			font-size: 18px;
 		}
 		a{
 			color: #FFF;
 			border: 1px solid #FFF;
 			text-align: center;
 			text-decoration: none;
 			@include media-breakpoint-up(lg){
 				margin: 0 20px;
 				padding: 20px 0;
 				width: 355px;
 			}
 			@include media-breakpoint-down(md){
 				margin: 0 10px;
 				padding: 20px 0;
 				width: 340px;
 			}
 			@include media-breakpoint-down(xs){
 				display: block;
 				margin: 20px 0;
 				width: auto;
 			}
 			&:hover{
 				background: #FFF;
 				color: #000;
 				border: 1px solid #FFF;
 			}
 		}
 	}
 	&__cont{
 		position: relative;
 		@include media-breakpoint-up(lg){
 			@include width-center(lg);
 			height: 280px;
 		}
 		@media (min-width: 1366px) {
 			width: 1092px!important;
 		}
 		@include media-breakpoint-down(md){
 			padding: 54px 124px 20px;
 			text-align: center;
 			height: 550px;
 		}
 		@include media-breakpoint-down(xs){
 			padding: 47px 12px 20px;
 			height: 500px;
 		}
 		&-info{
 			color: #FFF;
 			@include ff-gmintyo-sb;
 			@include media-breakpoint-up(lg){
 				position: absolute;
 				top: 50px;
 			}
 			img{
 				@include media-breakpoint-down(md){
 					width: 200px;
 					margin-bottom: 70px;
 				}
 				@include media-breakpoint-down(xs){
 					width: 194px;
 					margin-bottom: 50px;
 				}
 			}
 			&--address{
 				@include media-breakpoint-up(lg){
 					margin-top: 25px;
 					font-size: 12px;
 				}
 				@include media-breakpoint-down(md){
 					font-size: $fs-base;
 				}
 				@include media-breakpoint-down(xs){
 					font-size: 12px;
 				}
 			}
 			&--tel{
 				@include media-breakpoint-up(lg){
 					font-size: 34px;
 				}
 				@include media-breakpoint-down(md){
 					font-size: 39px;
 				}
 				@include media-breakpoint-down(xs){
 					font-size: 35px;
 				}
 				span{
 					@include media-breakpoint-up(lg){
 						font-size: 12px;
 						margin-right: 8px;
 					}
 					@include media-breakpoint-down(md){
 						font-size: $fs-base;
 						margin-right: 12px;
 					}
 					@include media-breakpoint-down(xs){
 						font-size: 12px;
 						margin-right: 8px;
 					}
 				}
 			}
 		}
 		&-menu{
 			@include media-breakpoint-up(lg){
 				position: absolute;
 				top: 33px;
 				right: 0;
 			}
 			@include media-breakpoint-down(md){
 				position: absolute;
 				top: 300px;
 				left: 50%;
 				transform: translate(-50%, 0%);
 			}
 			@include media-breakpoint-down(xs){
 				top: 280px;
 				left: 50%;
 				transform: translate(-50%, 0%);
 			}
 			ul{
 				@extend .m-0;
 				@extend .p-0;
 				@extend .d-flex;
 				@include ff-gmintyo-sb;
 				li{
 					-webkit-writing-mode: vertical-rl;
 					-ms-writing-mode: tb-rl;
 					writing-mode: vertical-rl;
 					list-style-type: square;
 					-webkit-text-orientation: upright;
 					text-orientation: upright;
 					color: #FFF;
 					text-align: left;
 					@include media-breakpoint-up(lg){
 						margin-right: 12px;
 						font-size: $fs-base;
 					}
 					@include media-breakpoint-down(md){
 						margin-right: 30px;
 						font-size: $fs-md;
 					}
 					@include media-breakpoint-down(xs){
 						margin-right: 12px;
 						font-size: 12px;
 					}
 				}
 			}
 			.menu{
 				> li{
 					&:nth-child(3){
 						.sub-menu{
 							@extend .d-block;
 							li{
 								list-style-type: none;
 								&:before{
 									content: '―';
 									color: #B1B1B1;
 								}
 							}
 							a{
 								color: #B1B1B1;
 							}
 						}
 					}
 					&:last-child{
 						@include media-breakpoint-up(lg){
 							margin-right: 0;
 						}
 					}
 					a{
 						color: #FFF;
 						text-decoration: none;
 					}
 				}
 			}
 		}
 	}
 	&__copyright{
 		@include ff-gmintyo-m;
 		color: #FFF;
 		@include media-breakpoint-up(lg){
 			position: absolute;
 			bottom: 15px;
 			right: 0;
 			font-size: $fs-xs;
 		}
 		@include media-breakpoint-down(md){
 			position: absolute;
 			bottom: 15px;
 			left: 50%;
 			transform: translate(-50%, 0%);
 			font-size: 12px;
 		}
 		@include media-breakpoint-down(xs){
 			font-size: $fs-xs;
 			width: 100%;
 		}
 	}
 	&__scroll-button{
 		a{
 			position: fixed;
 			display: block;
 			@include media-breakpoint-up(lg){
 				right:50px;
 				bottom:50px;
 			}
 			@include media-breakpoint-down(md){
 				right: 20px;
 				bottom: 20px;
 			}
 		}
 	}
 }
